.ipynb_checkpoints
__pycache__
CalVal/__pycache__
CalVal/OLD
Collection6
CSV
DEADataHandling.py
DEAPlotting.py
GeoMedians
MultiTimeLine/.ipynb_checkpoints
OLD
PNGS
Site-Pipelines/Panel-test.ipynb
Site-Pipelines/Resampling
Site-Pipelines/.ipynb_checkpoints
Site_Pipelines/temp-LS8.ipynb
Site_Pipelines/temp-Sent.ipynb
TimesCompare
Weather/OLD
WORKDIR
