.ipynb_checkpoints
CalVal/OLD
CSV
DEADataHandling.py
DEAPlotting.py
GeoMedians
MultiTimeLine/.ipynb_checkpoints
OLD
PNGS
Site-Pipelines/Resampling
Site-Pipelines/.ipynb_checkpoints
TimesCompare
Weather/OLD
WORKDIR
